@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import 'normalize.css';

:root {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

  --color-white: #ffffff;
  --color-dark: #181818;
  --color-green: #02e4c0;
  --color-primary: #4452fe;
}

* {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}
