.contents-section {
  display: flex;
  flex-direction: column;
  background: #181818;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  padding: 40px 27px;
}

.contents-section__header {
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.2px;
  text-align: center;
}

.contents-section__subheader {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  text-align: center;
}

.contents-section-items-cont {
}

.contents-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-bottom: 34px;
  padding: 60px 10px 46px;
  align-items: center;
}

.contents-item__header {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #000000;
  margin-bottom: 20px;
}

.contents-item__description {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #5c5c5c;
  margin-bottom: 40px;
}

.contents-item__btn {
  padding: 20px 36px;
  background: #4452fe;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border: 0;
  margin-bottom: 37px;
  color: #ffffff;
}

.contents-item__pict {
}

.contents-item__img {
  width: 100%;
}
