.gallery-section {
  display: flex;
  flex-direction: column;
  background: #181818;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  align-items: center;
  padding: 60px 24px 50px;
}

.gallery-section__header {
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.2px;
}

.gallery-section__subheader {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
}

.gallery-section__grid-container {
  display: flex;
  flex-wrap: wrap;
}

.grid-container__item {
  flex-basis: 46%;
  min-height: 206px;
  max-height: 206px;
  margin-bottom: 18px;
}

.grid-container__item:first-child {
  flex-basis: 100%;
}

.grid-container__item:nth-child(2n) {
  margin-right: 18px;
}

.grid-container__item-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
