.header-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 205px 35px 0px;
  text-align: center;
}

.header-section__top-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header-section__logo-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0 0;
}

.header-section__mob-menu-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-section__mob-menu-stick {
  background-color: var(--color-white);
  height: 3px;
}

.header-section__mob-menu-stick:not(:last-child) {
  margin-bottom: 3px;
}

.header-section__mob-menu-stick:nth-child(1) { width: 44px; }
.header-section__mob-menu-stick:nth-child(2) { width: 40px; }
.header-section__mob-menu-stick:nth-child(3) { width: 36px; }

.header-section__mob-menu-body {
  height: 0;
  overflow: hidden;
  transition: height .5s ease, opacity .5s ease;
}

.header-section__title,
.header-section__description {
  font-weight: normal;
  letter-spacing: 0.2px;
}

.header-section__title {
  font-size: 52px;
  line-height: 62px;
  margin: 0 0 27px;
}

.header-section__title-green {
  color: var(--color-green);
  display: block;
}

.header-section__description {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 67px;
}

.header-section__btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  border: 1px solid;
  padding: 20px 40px;
  min-width: 181px;
  color: var(--color-white);
}

.header-section__btn--main {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  margin-bottom: 21px;
}

.header-section__btn--secondary {
  border-color: var(--color-white);
  background-color: transparent;
  margin-bottom: 57px;
}

.header-section__pict {
  margin: 0 -35px;
  position: relative;
}

.header-section__pict::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0e0e0e, rgba(30, 30, 30, 0) 75%);
}

.header-section__img {
  object-fit: cover;
  height: 435px;
  width: 100%;
}

/*------ mobile menu ---------------- */
.scroll-lock {
  overflow: hidden;
}

.header-section__top-container--menu-open.header-section__top-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-dark);
}

.header-section__top-container--menu-open .header-section__mob-menu-body {
  height: 100vh;
  opacity: 1;
  overflow: scroll;
}

.header-section__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0 0 76px 0;
  padding: 0;
}

.header-section__menu-item {
  padding: 12px 18px;
}

.header-section__menu-link {
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--color-white);
  text-decoration: none;
}
