.section-open_type {
  display: flex;
  flex-direction: column;
  background: #343434;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  align-items: center;
}

.section-open_type__header {
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 20px 0px 27px;
}

.section-open_type__btn {
  padding: 13px 67px;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  background: #4452fe;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border: none;
  color: #ffffff;
  margin-bottom: 50px;
}

.section-open-type__pict {
  width: 100%;
}

.section-open-type__img {
  width: 100%;
  object-fit: cover;
}
