.partners-section {
  display: flex;
  flex-direction: column;
  background: #181818;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  align-items: center;
  padding: 40px 20px;
}

.partners-section__header {
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}

.partners-section__subheader {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  margin-bottom: 64px;
}

.partners-section__grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.partners-grid-container__item {
  flex-basis: 33%;
  text-align: center;
}

.partners-grid-container__item-img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
